.home {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.link {
  color: #0030ad;
  font-size: 25px;
  text-decoration: underline;
  position: absolute;
  top: 10px;
  right: 60px;
}

.portfolioLink {
  color: #ffffff;
  font-size: 10px;
  text-shadow: 0 1px 4px 0 rgba(0, 0, 0, 25%);
  position: absolute;
  bottom: 10px;
  left: 60px;

  &::before {
    content: "";
    background-image: url("/icons/folder.svg");
    width: 67px;
    height: 44px;
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translate(-50%, 0);
  }
}

.toggleBtn {
  position: fixed;
  top: 10px;
  left: 60px;
  color: #0030ad;
  font-size: 25px;
  text-decoration: underline;
  background: transparent;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

@media (max-height: 777px) {
  .link,
  .portfolioLink {
    display: none;
  }
}


@media (min-width: 930px) {
  .home {
    width: 900px;
    margin: 0 auto;
    position: relative;
  }

  .link {
    font-size: 35px;
    top: 55%;
    right: 0;
    transform: translate(0, -50%);
  }

  .portfolioLink {
    left: auto;
    right: 0;
    bottom: auto;
    top: 45%;
  }

  .toggleBtn {
    left: auto;
  }
}
